/*education*/
.ed-select {
    display: flex;
    justify-content: center;
    color: #333;
}

.ed-list {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
/*work*/
.work-select {
    display: flex;
    justify-content: center;
    color: #333;
}

.work-list {
   display: block;
   margin: 0 auto;
   width: fit-content;
}